
body {
    width: 32rem;
    background-color: #FFFFFF;
  }
  
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
  }
  
  li {
    padding: 0.25rem;
  }
  li:nth-child(odd) {
    background: #80808030;
  }
  li:nth-child(even) {
    background: #ffffff;
  }
  
  h3,
  p {
    margin: 0;
  }

  .link_url {
    display: flex; 
    align-items: center; 
    background-color: #FFFFFF; 
    border-color: #f0f0f0f2; 
    border-style: solid;
    border-radius: 30px; 
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .center_text {
    display: flex; 
    align-items: center; 
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .link_state {
    display: flex; 
    align-items: center; 
    background-color: #FF7E07; 
    border-color: #FF7E07; 
    border-style: solid;
    border-radius: 30px; 
    padding: 5px;
    align-self: center;
    font-weight: bold;
  }

  .statistic_text {
    display: flex; 
    align-items: center; 
    padding: 5px;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
  }

  .statistic_span {
    margin-right: 5px;
  }

  .bar_blue {
    background-color: #369FFF;
    border-radius: 50px;
    
  }

  .anomalie_align {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
    
  }

  .text_red1 {
    font-size: 30px;
    color: #FF6961;
  }

  .text_red2 {
    font-size: 30px;
    color: #D32F2F;
  }

  .text_orange {
    font-size: 30px;
    color: #FFA500;
  }

  .text_green {
    font-size: 30px;
    color: #4CAF50;
  }

  .card_nr1 {
    max-width: 18rem; 
    background-color: #eef6ffd2;
    border-radius: 30px;
   
  }

  .text_color_typ {
    color: #8EA3B7;
  }

  .sizing_card {
    max-height: 1%;
  }